<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-XBCategory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB2848D81D701A1D004C3100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB2848F11D701A1E004C3100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB2848FC1D701A1E004C3100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
